<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <title>Pong 3D</title>
	<script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@0.139.2/build/three.module.js",
                "three/examples/jsm/controls/OrbitControls.js": "https://cdn.jsdelivr.net/npm/three@0.139.2/examples/jsm/controls/OrbitControls.js",
                "three/examples/jsm/geometries/TextGeometry.js": "https://cdn.jsdelivr.net/npm/three@0.139.2/examples/jsm/geometries/TextGeometry.js",
                "three/examples/jsm/loaders/FontLoader.js": "https://cdn.jsdelivr.net/npm/three@0.139.2/examples/jsm/loaders/FontLoader.js"
            }
        }
    </script>
	<script type="module" src="../../static/js/pong.js" defer></script>
    <style>
        body { margin: 0; }
    </style>

</head>
<body>
    <canvas id="gameCanvas" width="900" height="800" style="border:5px solid #000000;">
    </canvas>
    <div>
        <h2 id="clientsConnected"></h2>
    </div>
</body>
</html> -->

<!-- <section class="mt-5">
	<canvas id="gameCanvas" width="900" height="800" style="border:5px solid #000000;"></canvas>
	<div>
		<h2 id="clientsConnected"></h2>
	</div>
</section> -->

{% load static %}

<div class="pong-container container">
	<canvas id="game"></canvas>
</div>
