/* html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
} */

.font-potta {
	font-family: 'Balsamiq Sans', cursive;
	font-weight: 700;
	margin-top: 2px;
	color: 71, 46, 39;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
	color: 71, 46, 39;
}
