/* Font styles */
.font-potta {
	font-family: 'Potta One', sans-serif;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

/* High contrast */
body.high-contrast, header.high-contrast, footer.high-contrast {
	background-color: #000;
	color: #fff;
}

/* buttons in high contrast */
.high-contrast .btn {
	background-color: #222;
	color: #fff;
	border: 1px solid #fff;
}

.high-contrast input[type="checkbox"]:checked {
	background-color: #fff;
	border-color: #000;
	color: #000;
}



.high-contrast .darky-color {
	/* background-color: #fff; */
	color: #000;
}

.high-contrast .whity-color {
	color: #fff
}


/* Form */
.high-contrast input[type="text"],
.high-contrast input[type="email"],
.high-contrast input[type="password"],
.high-contrast input[type="file"],
.high-contrast textarea,
.high-contrast select {
	background-color: #fdfdfd;
	border: 2px solid #000;
	color: #000;
}

/* image */
.high-contrast img#logo-42 {
	content: url("../img/42_Logo_white.png");
}

/* Focus outline for better navigation visibility */
.high-contrast .btn:hover {
	background-color: #fff;
	color: #000;
	border-color: #000;
	border: 2px solid black;
	outline: 2px solid black;
}

.high-contrast .btn:active {
	background-color: #ccc;
	color: #000;
	border-color: #000;
	border: 2px solid black;
	outline: 2px solid black;
}

.high-contrast .btn:focus {
	outline: 2px solid #fff;
	background-color: #444;
	border-color: #000;
	border: 2px solid black;
	outline: 2px solid black;
}
