/* html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
} */

.font-potta {
	font-family: 'Potta One', sans-serif;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

body.high-contrast {
	filter: contrast(1.3);
}

