{% load static %}
<section class="py-2 mt-5">
	<div class="container">
		<div class="row g-4">
			<div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
				<img src="{% static 'img/pusheen_contact.png' %}" alt="Pusheen working at a desk" width="50%">
			</div>
			<div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start">
				<div class="text-center mb-5 mb-md-0">
					<h1>Contact Us</h1>
					<p>You can reach us at:</p>
					<h3><a href="mailto:contact_pusheen@42.fr">contact_pusheen@42.fr</a></h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-md-5 mt-2">
	<div class="container">
		<h2 class="d-flex justify-content-center pb-2">Privacy Policy</h2>
		<p>
			This Privacy Policy explains how we collect, use, and protect your personal data when you use our website. By browsing our site, you explicitly agree to the terms of this Privacy Policy.
		</p>
		<p>
			We are committed to protecting your privacy in accordance with the General Data Protection Regulation (GDPR) (Regulation (EU) 2016/679).
		</p>
		<p>
			1. Data Controller
			The data controller is Pusheen Arcade. If you have any questions regarding this Privacy Policy, please contact us at pusheen_arcade@contact.com
		</p>
		<p>
			2. Data We Collect
			We collect certain personal data in the context of your use of the website and its services.
		</p>
		<p>
			2.1. Authentication Data
			When you log in using 42 and Pusheen Arcade, we collect the information required to authenticate your identity, such as your username, last name, first name, profile picture and email address. This information is used solely to enable your login and to ensure the security of your account.
		</p>
		<p>
			2.2. Cookies
			We use authentication cookies to manage your session on our site. These cookies are essential to keep you logged in during your visit. They do not contain sensitive data and expire after a set period of inactivity.
			You can manage your cookie preferences in your browser settings. However, disabling authentication cookies may affect your ability to log in or use certain features of the site.
		</p>
		<p>
			3. Purpose of Data Processing
			The data we collect is used for the following purposes:
			Authentication and session management: To ensure secure login via Pusheen Arcade and 42.
			Improving user experience: To understand how users interact with our site and improve it accordingly.
			Storage for non-commercial purposes: The data collected is stored solely to provide our services and is never sold or used for commercial purposes.
		</p>
		<p>
			4. Data Retention
			Your data is retained for as long as necessary to provide our services, unless a longer retention period is required by law. We delete or anonymize your data once processing is complete.
		</p>
		<p>
			5. Data Sharing and Transfers
			We do not share your personal data with third parties unless required to comply with legal obligations or to protect the security of our site.
		</p>
		<p>
			6. Your Rights
			Under the GDPR, you have the following rights regarding your personal data:
			Access: You can request access to your personal data.
			Rectification: You can request the correction of inaccurate data.
			Erasure: You can request the deletion of your data if it is no longer necessary for the purposes it was collected for.
			Portability: You can request to receive your data in a structured, commonly used, and machine-readable format.
			Objection: You have the right to object to certain types of processing, including for direct marketing purposes.
			To exercise your rights, please contact us at contact_pusheen@42.fr.
		</p>
		<p>
			7. Data Security
			We implement technical and organizational measures to protect your data from unauthorized access, alteration, or destruction. These measures include data encryption and the use of secure protocols for data transmission.
		</p>
		<p>
			8. Consent and Acceptance of Terms
			By choosing to browse our site, you acknowledge that you have read and accepted this Privacy Policy. If you do not agree with these terms, we encourage you not to use our site.
		</p>
		<p>
			9. Changes to the Privacy Policy
			We reserve the right to modify this Privacy Policy at any time. Any changes will be posted on this page and will take effect immediately. We encourage you to regularly review this page to stay informed of any updates.
		</p>
		<p>
			10. Feedback
			If you have read and understood this Privacy Policy, we would greatly appreciate it if you could rate us with a full score on ft_transcendence project.
		</p>
		<p>
			Last updated: 19/09/2024
		</p>
	</div>
</section>

