{% load static %}
<section class="d-flex align-items-center justify-content-center mt-5">
	<div class="container mb-5">
		<div class="row justify-content-center mt-2 g-3">
			<div class="col-12 col-lg-8">
				<div class="card shadow rounded-4">
					<div class="card-header text-center bg-primary font-potta rounded-top-4">
						<h2>Edit Password</h2>
					</div>
					<div class="card-body p-5">
						<form id="edit-password-form" method="POST" action="{% url 'authentification:update_password' %}">
							{% csrf_token %}
							<div class="form-group mb-3">
								<label for="old_password">Current Password:</label>
								<input type="password" id="old_password" name="old_password" class="form-control rounded-3" required>
							</div>
							<div class="form-group mb-3">
								<label for="new_password1">New Password:</label>
								<input type="password" id="new_password1" name="new_password1" class="form-control rounded-3" required>
							</div>
							<div class="form-group mb-3">
								<label for="new_password2">Confirm New Password:</label>
								<input type="password" id="new_password2" name="new_password2" class="form-control rounded-3" required>
							</div>
							<button type="submit" class="btn btn-primary w-100">Change Password</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
