{% load static %}
<footer class="font-balsamiq">
	<nav class="navbar navbar-expand-md bg-primary">
		<div class="container-fluid">
			<a class="nav-link fs-2 text-secondary-emphasis" aria-current="page" href="#" id="home">PUSHEEN</a>

			<div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarNavAltMarkup">
				<div class="navbar-nav fs-4">
					<li class="nav-item"></li>
						<button id="decrease-font" class="btn btn-icon shadow-none btn-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Decrease font size">
							<i class="bi bi-zoom-out"></i>
							<span class="d-sm-none">Decrease font size</span>
						</button>
					</li>
					<li class="nav-item">
						<button id="increase-font" class="btn btn-icon shadow-none btn-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Increase font size">
							<i class="bi bi-zoom-in"></i>
							<span class="d-md-none">Increase font size</span>
						</button>
					</li>
					<li class="nav-item">
						<button id="toggle-contrast" class="btn btn-icon shadow-none btn-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Toggle high contrast">
							<i class="bi bi-eye"></i>
							<span class="d-md-none">High Contrast</span>
						</button>
					</li>
				</div>
			</div>

			<div>
				<a href="https://github.com/Ariti-87/ft_transcendence" target="_blank" class="text-decoration-none text-dark" data-bs-toggle="tooltip" title="github">
					<i class="bi bi-github fs-5 btn btn-icon"></i>
				</a>
			</div>

		</div>
	</nav>
</footer>
