{% load static %}
<section class="py-md-5 font-balsamiq text-secondary-emphasis">
<div class="container-fluid mt-5">
	<h1 class="card-title font-balsamiq text-secondary-emphasis mb-4 text-center">Games</h1>
	<div class="row gx-3 d-flex justify-content-center">
		<div class="col-10 col-md-4 mb-4">
			<div class="card h-100 d-flex flex-column rounded-2 bg-primary shadow">
				<img src="{% static 'img/pusheen-pong.gif' %}" class="card-img-top px-5" alt="gif de pusheen" width="80">
				<div class="card-body text-secondary-emphasis d-flex flex-column">
					<h5 class="card-title">Pong</h5>
					<p class="card-text font-roboto" style="opacity: 0.7;">Inspired by Pong, a classic arcade game from the 1970s, where players use paddles to hit a ball in a simple yet competitive format.</p>
					{% if user.is_authenticated %}
					<button type="button" class="btn btn-primary mt-auto" id="pong">Play</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-10 col-md-4 mb-4">
			<div class="card h-100 d-flex flex-column rounded-2 bg-primary shadow">
				<img src="{% static 'img/pusheen-invaders.gif' %}" class="card-img-top px-5" alt="gif de pusheen" width="80">
				<div class="card-body text-secondary-emphasis d-flex flex-column">
					<h5 class="card-title">Invaders</h5>
					<p class="card-text font-roboto" style="opacity: 0.7;">This game is inspired by Space Invaders, a legendary arcade game from the late 1970s, where players use a moving cannon to defend against waves of alien invaders.</p>
					{% if user.is_authenticated %}
					<button type="button" class="btn btn-primary mt-auto" id="invaders">Play</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-10 col-md-4 mb-4">
			<div class="card h-100 d-flex flex-column rounded-2 bg-primary shadow">
				<img src="{% static 'img/pusheen-coming.gif' %}" class="card-img-top px-5" alt="gif de pusheen" width="80">
				<div class="card-body text-secondary-emphasis d-flex flex-column">
					<h5 class="card-title">Coming Soon...</h5>
					<p class="card-text font-roboto" style="opacity: 0.7;">We're cooking up more games for you, so stay tuned for exciting new experiences!</p>
					{% if user.is_authenticated %}
						<button type="button" class="btn btn-outline-primary mt-auto text-secondary-emphasis" style="border-color: var(--bs-secondary-emphasis);" disabled>Play</button>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% if not user.is_authenticated %}
		<p class="text-center">You must be logged in to play the games, <a href="#" id="login-from-games">click here</a> to log in.</p>
	{% endif %}
</div>
</section>
