{% load static %}
<section class="py-md-5 mt-2 font-potta">
<div class="container mt-5 text-center">
	<h1 class="mb-5">Choose Your Game</h1>
	<div class="row gx-3">
	<div class="col-12 col-md-4 mb-4">
		<div class="bg-primary d-flex flex-column align-items-center justify-content-center rounded-3 p-4">
		<img src="{% static 'img/pusheen_pong.png' %}" alt="Pusheen Pong Game" class="img-fluid rounded-circle mb-3" style="max-width: 80%;">
		<h2 class="fw-bold text-center">Pong</h2>
		<button type="button" class="btn btn-info mt-3 rounded-3 bg-secondary" id="pong">Play Now</button>
		</div>
	</div>
	<div class="col-12 col-md-4 mb-4">
		<div class="bg-primary d-flex flex-column align-items-center justify-content-center rounded-3 p-4">
		<img src="{% static 'img/pusheen_invaders.png' %}" alt="Pusheen Invader Game" class="img-fluid rounded-circle mb-3" style="max-width: 80%;">
		<h2 class="fw-bold text-center">Invaders</h2>
		<button type="button" class="btn btn-info mt-3 rounded-3 bg-secondary" id="invaders">Play Now</button>
		</div>
	</div>
	<div class="col-12 col-md-4 mb-4">
		<div class="bg-primary d-flex flex-column align-items-center justify-content-center rounded-3 p-4">
		<img src="{% static 'img/pusheen_coming_soon.png' %}" alt="Coming Soon..." class="img-fluid rounded-circle mb-3" style="max-width: 80%;">
		<h2 class="fw-bold text-center">Coming Soon...</h2>
		<button type="button" class="btn btn-info mt-3 rounded-3 bg-secondary" disabled>Play Now</button>
		</div>
	</div>
	</div>
</div>
</section>

