{% load static %}
<header class="font-balsamiq">
	<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top p-0">
		<div class="container-fluid bg-primary">
			<a class="navbar-brand m-0">
				<img src="{% static 'img/pusheen-nav.gif' %}" alt="pusheen face icon" width="60" height="60">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
			aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse align-items-center justify-content-between my-2" id="navbarContent">
				<ul class="navbar-nav mx-auto align-items-center justify-content-center">
					<li class="nav-item">
						<a class="nav-link fs-5 p-0 ms-2 ms-lg-4" aria-current="page" href="#" id="navbar-home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-5 p-0 ms-2 ms-lg-4" href="#" id="navbar-games">Games</a>
					</li>
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link fs-5 p-0 ms-2 ms-lg-4" href="#" id="navbar-leaderboard">Leaderboard</a>
					</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link fs-5 p-0 ms-2 ms-lg-4 text-nowrap" aria-current="page" href="#" id="navbar-contact">Contact</a>
					</li>
					<li class="nav-item">
						<button id="decrease-font" class="btn btn-icon shadow-none btn-lg p-0 ms-2 ms-lg-4" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Decrease font size">
							<i class="bi bi-dash-circle"></i>
							<span class="d-md-none ms-1 fs-5">Decrease font size</span>
						</button>
					</li>
					<li class="nav-item">
						<button id="increase-font" class="btn btn-icon shadow-none btn-lg p-0 ms-2 ms-lg-4" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Increase font size">
							<i class="bi bi-plus-circle"></i>
							<span class="d-md-none ms-1 fs-5">Increase font size</span>
						</button>
					</li>
					<li class="nav-item">
						<button id="toggle-contrast" class="btn btn-icon shadow-none btn-lg p-0 mx-2 mx-lg-4" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Toggle high contrast">
							<i class="bi bi-eye"></i>
							<span class="d-md-none ms-1 fs-5">High Contrast</span>
						</button>
					</li>
					<!-- <div class="navbar-nav nav-item dropdown btn btn-icon shadow-none btn-lg">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-globe"></i>
							<span class="d-md-none ms-1 fs-4">Language</span>
						</a>
						<ul class="dropdown-menu rounded-2 dropdown-menu-primary" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item text-link" href="#">English</a></li>
							<li><a class="dropdown-item text-link" href="#">French</a></li>
							<li><a class="dropdown-item text-link" href="#">Spanish</a></li>
						</ul>
					</div> -->
				</ul>
				{% if user.is_authenticated %}
				<div class="d-flex justify-content-center align-items-center">
					<img src="{{ user.avatar.url }}" alt="Profile Image/Avatar icon" class="rounded-circle" width="60" height="60">
					<button type="button" class="btn btn-primary ms-2" id="navbar-profile">Profile</button>
					<form id="logout-form" method="POST" action="{% url 'home' %}" data-csrf-token="{{ csrf_token }}">
						{% csrf_token %}
						<button type="submit" class="btn btn-outline-primary ms-2 text-nowrap ">Sign out</button>
					</form>
				</div>
				{% else %}
				<div class="d-flex justify-content-center">

					<button type="button" class="btn btn-outline-primary" id="navbar-login">Login</button>
					<button type="button" class="btn btn-primary ms-2 text-nowrap " id="navbar-signup">Sign up</button>
				</div>
				{% endif %}
			</div>
		</div>
	</nav>
</header>
