{% load static %}
<header class="font-potta">
	<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top p-0">
		<div class="container-fluid bg-secondary">
			<a class="navbar-brand">
				<img src="{% static 'img/pusheen_nav.png' %}" alt="icone de pusheen" width="60" height="60">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
			aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse align justify-content-between my-2" id="navbarContent">
				<ul class="navbar-nav mx-auto align-items-center">
					<li class="nav-item">
						<a class="nav-link active fs-4" aria-current="page" href="#" id="home">HOME</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="#footer">About Us</a>
					</li> -->
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link fs-4" href="#" id="games">GAMES</a>
					<li class="nav-item">
						<a class="nav-link fs-4" href="#" id="navbar-leaderboard">LEADERBOARD</a>
					{% endif %}
					<li class="nav-item">
						<button id="decrease-font" class="btn btn-secondary shadow-none btn-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Decrease font size">
							<i class="bi bi-dash-circle"></i>
							<span class="d-md-none ms-1 fs-6">Decrease font size</span>
						</button>
					</li>
					<li class="nav-item">
						<button id="increase-font" class="btn btn-secondary shadow-none btn-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Increase font size">
							<i class="bi bi-plus-circle"></i>
							<span class="d-md-none ms-1 fs-6">Increase font size</span>
						</button>
					</li>
					<li class="nav-item dropdown ms-3 mb-4 mb-md-0">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{% static 'img/global.png' %}" alt="Choose your language" width="24" height="24">
							<span class="d-md-none ms-1 fs-6">Languages</span>
						</a>
						<ul class="dropdown-menu rounded-3 bg-secondary dropdown-menu-primary" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">English</a></li>
							<li><a class="dropdown-item" href="#">French</a></li>
							<li><a class="dropdown-item" href="#">Spanish</a></li>
						</ul>
					</li>
				</ul>
				{% if user.is_authenticated %}
				<div class="d-flex justify-content-center align-items-center">
					<img src="{{ user.avatar.url }}" alt="Profile Image" class="rounded-circle" width="60" height="60">
					<button type="button" class="btn btn-outline-primary rounded-pill border-dark text-dark ms-2" id="navbar-profile">Profile</button>
					<form id="logout-form" method="POST" action="{% url 'home' %}" data-csrf-token="{{ csrf_token }}">
						{% csrf_token %}
						<button type="submit" class="btn btn-primary rounded-pill ms-2">Sign out</button>
					</form>
				</div>
				{% else %}
				<div class="d-flex justify-content-center">

					<button type="button" class="btn btn-outline-primary rounded-pill border-dark text-dark" id="navbar-login">Login</button>
					<button type="button" class="btn btn-primary rounded-pill ms-2" id="navbar-signup">Sign up</button>
				</div>
				{% endif %}
			</div>
		</div>
	</nav>
</header>
