{% load static %}
<section class="py-md-5 mt-5">
	<div class="container-fluid">
		<div class="row g-4 d-flex justify-content-center align-items-stretch">
			<div class="col-12 col-md-6 col-lg-7 text-secondary-emphasis d-flex flex-column">
				<h1 class="font-balsamiq text-center">Welcome!</h1>
				<p>Pusheen, the adorable and playful cat loved by millions, takes center stage in this project, blending her charm with the world of retro gaming. Inspired by the simplicity and nostalgia of classic arcade games like Pong and Space Invaders, we’ve reimagined these timeless experiences through the lens of Pusheen’s quirky universe.</p>
				<p>Originally released in 1972, Pong was a groundbreaking game that helped shape the video game industry. Likewise, Space Invaders in the late 1970s captured imaginations with its alien-invasion theme. Both games became icons of early gaming.</p>
				<p>As part of Ecole 42's ft_transcendence project, we've brought these classics to life in a fun and modern way, combining them with Pusheen’s delightful world. Get ready to experience a blend of nostalgia and cuteness as Pusheen takes on the arcade!</p>
			</div>
			<div class="col-md-4 col-lg-2 d-flex align-items-center justify-content-center">
				<img src="{% static 'img/pusheen-welcome.gif' %}" alt="Pusheen welcome" class="rounded-2 img-fluid">
			</div>
		</div>
	</div>
</section>
<section class="font-balsamiq text-secondary-emphasis">
	<div class="container-fluid mt-3">
		<div class="row gx-3 justify-content-center mb-4">

			<div class="container-fluid">
				<div class="row gx-3 justify-content-center mb-4">

					<div class="rounded-2 col-md-6 col-lg-3 m-2">
						<video class="shadow rounded-2 h-100 card d-flex flex-column" alt="video de pusheen" style="width: 100%; height: 100%;" autoplay muted loop playsinline>
							<source src="{% static 'video/pusheen_invaders.mp4' %}" type="video/mp4">
						</video>
					</div>

					<div class="card rounded-2 shadow col-md-6 col-lg-3 m-2">
						<div class="p-3 h-100 text-secondary-emphasis text-center">
							<h1 class="card-title font-balsamiq">Our Games</h1>
							<p class="font-roboto" style="opacity: 0.7;  text-decoration: none;">Classic arcade games meet Pusheen's charm in a fun, nostalgic adventure. Simple, cute, and endlessly entertaining!</p>
							<button type="button" class="btn btn-primary mt-auto" id="games-from-home">Play Now</button>
						</div>
					</div>

					<div class="card rounded-2 shadow col-md-6 col-lg-3 m-2">
						<div class="p-3 h-100 d-flex align-items-center justify-content-center">
							<img src="{% static 'img/pusheen-games.gif' %}" class="img-fluid" alt="gif de pusheen" style="width: 80%; height: auto;">
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>


