{% load static %}
<section class="py-md-5 mt-5">
	<div class="container">
		<div class="row g-4">
			<div class="col-12 col-md-6 d-flex justify-content-center">
				<img src="{% static 'img/pusheen_drink.png' %}" alt="Pusheen drinking a cola, eating an hamburger" width="75%">
			</div>
			<div class="col-12 col-md-6 mt-4 d-flex align-items-center justify-content-center">
				<video controls class="w-100 rounded-4 border border-5 border-primary">
					<source src="{% static 'video/pusheen_the_cat_intro.mp4' %}" type="video/mp4"/>
					<p>
						Votre navigateur ne prend pas en charge les vidéos HTML5. Voici
						<a href="{% static 'video/pusheen_the_cat_intro.mp4' %}">un lien pour télécharger la vidéo</a>.
					</p>
				</video>
			</div>
		</div>
	</div>
</section>
<section class="py-md-5 mt-4">
	<div class="container">
		<p>Pong is a table tennis–themed twitch arcade sports video game, featuring simple two-dimensional graphics, manufactured by Atari and originally released
			on 29 November 1972. It was one of the earliest arcade video games; it was created by Allan Alcorn as a training exercise assigned to him
			by Atari co-founder Nolan Bushnell, but Bushnell and Atari co-founder Ted Dabney were surprised by the quality of Alcorn's work and decided to manufacture the game.</p>
		<p>Pong was the first commercially successful video game, and it helped to establish the video game industry along with the Magnavox Odyssey.
			Soon after its release, several companies began producing games that closely mimicked its gameplay.</p>
	</div>
</section>
<section class="py-md-5 mt-2 font-potta mb-5">
	<div class="container">
		<div class="row g-4 justify-content-evenly mx-2">
			<div class="col-12 col-md-4 bg-primary d-flex flex-column align-items-center justify-content-center rounded-4 p-4">
				<h1 class="fw-bold text-center">Pusheen Arcade</h1>
				{% if user.is_authenticated %}
				<button type="button" class="btn btn-info mt-3 rounded-4 bg-secondary" id="games">Play Now</button>
				{% else %}
				<button type="button" class="btn btn-info mt-3 rounded-4 bg-secondary" id="login-from-home">log in to play</button>
				{% endif %}
			</div>
			<div class="col-12 col-md-4 d-flex align-items-center">
				<img src="{% static 'img/pusheen.gif' %}" alt="pusheen playing with a racket" class="rounded-4 w-100 border border-5 border-secondary">
			</div>
		</div>
	</div>
</section>
