.pong-container, html {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0);
	font-family: 'Orbitron', sans-serif;
}

/* Container for text */
.text-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 2rem;
	font-family: Arial, sans-serif;
	z-index: 1; /* Make sure it's above the canvas */
}

canvas {
	box-shadow: 20px 10px 50px black;
	background-image: url("../img/background2.gif");
	background-size: 900px 800px;
	background-position: center;
	border-radius: 10px;
	width: 900px;
	height: 800px;
	display: block;
}

.menu {
	font-size: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	text-align: center;
	color: white;
	max-width: 750px;
	max-height: 700px;
	background-color: rgba(0, 0, 0, 0.7);
}

h1 {
	margin: 20px 0 50px;
	font-size: 5em;
	line-height: 1;
	background: linear-gradient(90deg, #5fbfff, #a527be);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


h2 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 3em;
	color: #a527be;
}

h3 {
	margin: 10px;
	font-size: 1.5em;
	color: white;
}

h4 {
	font-size: 1em;
	color: white;
	line-height: 1;
}

p {
	margin: 0;
	font-size: 1em;
}

.button {
	margin: 10px;
	padding: 10px;
	padding-bottom: 7px;
	font-size: 1.2em;
	cursor: pointer;
	background-color: #5fbfff;
	color: #06061d;
	border: none;
	border-radius: 0;
}

.button:hover {
	background-color: #a527be;
	color: white;
}

.button.green:hover {
	background-color: #0ccf0c;
}

.button-vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.button-horizontal {
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	margin: 7px;
	padding: 2px;
	font-size: 0.8em;
	border-radius: 2px;
	border-style: solid;
}

.player-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px;
}

.list {
	display: flex;
	align-items: left;
	text-align: left;
}

.list-leader {
	display: flex;
	align-items: left;
	flex-direction: column;
	text-align: center;
	gap: 20px;
}

.arrow {
	margin: 20px;
	font-size: 2em;
	color: #ffce08;
	cursor: pointer;
}

.arrow:hover {
	color: #ff0000;
}
