<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <title>Home</title>
    <style>
        body { margin: 0; }
    </style>

</head>
<body>
	<div>
        <form id="gameForm" method="get">
            <input type="submit" value="Connect"/>
        </form>

        <script>
            // Replace with the actual game ID passed from your backend
            var gameId = {{ gameId }};

            // Set the form's action attribute
            document.getElementById('gameForm').action = '/pong/lobby' + gameId;
        </script>
	</div>
</body>
</html> -->
<div class="mt-5">
    <form id="gameForm" method="get">
        <input type="submit" value="Connect"/>
    </form>

    <script>
        // Replace with the actual game ID passed from your backend
        var gameId = {{ gameId }};

        // Set the form's action attribute
        document.getElementById('gameForm').action = '/pong/lobby' + gameId;
    </script>
</div>
